@import "./globals.scss";

.feature {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  color: #0d142f;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.description {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  color: #435288;
}
