$dark-blue: #005683;
$light-blue: #238abe;
$main-orange: #e8490e;
$text-blue: #435288;
$hover-opacity: 0.7;
$placeholder-contact: rgba(255, 255, 255, 0.3);
$standard-radius: 19px;
$cards-radius: 12px;
$gradient: linear-gradient(28.25deg, $dark-blue 20.94%, $light-blue 65.96%);
$horizontal-gradient: linear-gradient(0.9deg, #005683 31.89%, #238abe 109.12%),
  linear-gradient(0deg, #707070, #707070);
$standard-scale: 0.95;
$max-btn-width: 160px;
$card-shadow: 0px 1px 3px 3px #00000029;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

$button-variations: (
  contact: (
    background-color: $placeholder-contact,
    color: white,
    border: none,
    padding: 0.5rem 1rem,
    hover: (
      background-color: $placeholder-contact,
      border: none,
      opacity: 1,
      transform: scale($standard-scale),
    ),
  ),
  contact-orange: (
    background-color: $main-orange,
    color: white,
    border: 1px solid $main-orange,
    padding: 0.5rem 1rem,
    hover: (
      background-color: $main-orange,
      border: 1px solid $main-orange,
      opacity: 1,
      transform: scale($standard-scale),
    ),
  ),
  login: (
    background-color: transparent,
    color: white,
    border: 1px solid transparent,
    padding: 0.5rem 1rem,
    hover: (
      background-color: transparent,
      color: white,
      border: 1px solid transparent,
      opacity: 1,
      transform: scale($standard-scale),
    ),
  ),
);

@mixin button-styles($purpose) {
  $variation: map-get(
    $map: $button-variations,
    $key: $purpose,
  );

  background-color: map-get($map: $variation, $key: background-color);
  // color: map-get($map: $variation, $key: color);
  color: white;
  border: map-get($map: $variation, $key: border);
  border-radius: $standard-radius;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease-in-out;

  @media screen and (min-width: 768px) {
    max-width: 160px;
  }

  &:hover {
    $hover-variation: map-get(
      $map: $variation,
      $key: hover,
    );
    background-color: map-get($map: $hover-variation, $key: background-color);
    color: map-get($map: $hover-variation, $key: color);
    border: map-get($map: $hover-variation, $key: border);
    opacity: map-get($map: $hover-variation, $key: opacity);
    transform: map-get($map: $hover-variation, $key: transform);
  }
}

.category-span {
  display: block;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}

.subtitle-h2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
}

.subtitle-h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.subtitle-orange {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $main-orange;
}

.blue-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $text-blue;
}

a.blue-text:hover {
  color: $text-blue;
  opacity: $hover-opacity;
}
